.pixabay_container {
  padding-top: 100px;
  max-width: 1017px;
  margin: 0 auto;
  color: #fff;

  & input {
    display: block;
    width: 250px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;

  & > li {
    width: 300px;
    height: 400px;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
