.container {
  width: 1200px;
  height: 480px;
  & > img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    // object-fit: contain;
    background: linear-gradient(
      180deg,
      rgba(54, 44, 146, 0.4) 0%,
      rgba(18, 98, 151, 0.4) 100%
    );
  }
}

.container > p {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #ebeef5;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 8px;
  position: absolute;
  width: 500px;
  height: max-content;
  top: 32%;
  left: 24%;
  // left: 450px;
  // top: 518px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 24px;
}
