.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  width: 282px;
  height: 480px;
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}
