.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .total_suggested {
        margin-top: 80px;
        margin-bottom: 40px;
    
        & h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 56px;
            color: #EBEEF5;
        }
    }

    & .dashboard_main_up_line {
        display: flex;
        flex-direction: row;
        gap: 24px;
        max-width: 1200px;
    }

    & .quick_links {
        margin-bottom: 40px;
        margin-top: 80px;

        & h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            letter-spacing: -0.015em;
            color: #EBEEF5;

        }
    }

    & .dashboard_main_down_line {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        gap: 24px;

        & .main_dashboard_suggestions {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            justify-items: center;
            align-content: center;

            width: 586px;
            height: 104px;
            background: rgba(0, 0, 0, 0.2);
            opacity: 0.8;
            border-radius: 12px;

            & h3 {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #7B6EF6;
            }
        }

        & .main_dashboard_add {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            justify-items: center;
            align-content: center;

            width: 586px;
            height: 104px;
            background: rgba(0, 0, 0, 0.2);
            opacity: 0.8;
            border-radius: 12px;

            & h3 {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #7B6EF6;
            }
        }
    }
}

.container_movie {
    width: 282px;
    height: 152px;
    background: #121829;
    opacity: 0.8;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    & h3 {
        font-weight: 600;
        font-size: 32px;
        color: #EBEEF5;
        padding-top: 40px;
        margin: 0;
    }

    & h4 {
        font-weight: 400;
        font-size: 16px;
        color: #767E94;
        padding-bottom: 40px;
        margin: 0;
        margin-top: 8px;
    }
}

.container_shows {
    width: 282px;
    height: 152px;
    background: #121829;
    opacity: 0.8;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h3 {
        font-weight: 600;
        font-size: 32px;
        color: #EBEEF5;
        padding-top: 40px;
        margin: 0;
    }

    & h4 {
        font-weight: 400;
        font-size: 16px;
        color: #767E94;
        padding-bottom: 40px;
        margin: 0;
        margin-top: 8px;
    }
}

.container_suggest {
    width: 282px;
    height: 152px;
    background: #121829;
    opacity: 0.8;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h3 {
        font-weight: 600;
        font-size: 32px;
        color: #EBEEF5;
        padding-top: 40px;
        margin: 0;
    }

    & h4 {
        font-weight: 400;
        font-size: 16px;
        color: #767E94;
        padding-bottom: 40px;
        margin: 0;
        margin-top: 8px;
    }
}

.container_manual_suggest {
    width: 282px;
    height: 152px;
    background: #121829;
    opacity: 0.8;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h3 {
        font-weight: 600;
        font-size: 32px;
        color: #EBEEF5;
        padding-top: 40px;
        margin: 0;
    }

    & h4 {
        font-weight: 400;
        font-size: 16px;
        color: #767E94;
        padding-bottom: 40px;
        margin: 0;
        margin-top: 8px;
    }
}