.container {
  background: #121829;
  width: 100%;
  height: 1890px;
  backdrop-filter: blur(20px);
  background-image: no-repat url(../../assets/styles/images/Background.png);
  padding-top: 160px;
  padding-left: 100px;
  display: flex;
  justify-content: center;
}
.content {
  max-width: 1440px;
}

.title_wrapper {
  display: flex;
  margin: 0 auto;
}

.title_container {
  margin-right: 95px;
}

.content_head {
  margin-bottom: 195px;
  display: flex;
  flex-direction: column;
}

.label_container {
  // padding-top: 35%;
  // padding-right: 20%;
  position: relative;
  top: 380px;
  right: 52%;
}

.label_name {
  position: absolute;
  width: 108px;
  height: 40px;
  padding-top: 10%;
  bottom: 70%;
  font-family: inherit;

  // font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  letter-spacing: -0.02em;

  color: #767e94;
}

.label_name > span {
  font-size: 20px;
}

.list {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.footer_container {
  display: flex;
  padding-top: 120px;
  padding-left: 650px;
}

.footer_text {
  position: absolute;
  width: 690px;
  height: 32px;
  top: 1730px;
  left: 35%;
  font-family: inherit;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #767e94;
  font-family: inherit;
}
