.container {
  position: relative;
  background: #121829;
  width: 100%;
  height: 3190px;
  backdrop-filter: blur(20px);
  background-image: url(../../assets/styles/images/Background.png);
  padding-top: 160px;
  padding-left: 120px;
}
.content {
  max-width: 1400px;
}

.title_wrapper {
  margin-bottom: 53px;
}

.content_head {
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
}

.label_container {
  padding-top: 72px;
}

.label_name {
  position: absolute;
  width: 108px;
  height: 40px;
  left: 120px;
  top: 552px;
  padding-top: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  letter-spacing: -0.02em;

  color: #767e94;
}

.label_name > span {
  font-size: 20px;
}

.list {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-top: -152px;
  gap: 30px;
}
