.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 16px 120px;
  gap: 671px;

  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #121829;
  z-index: 1;
}
