.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background: rgba(18, 24, 41, 0.8);
  backdrop-filter: blur(20px);
  z-index: 1;
  align-content: center;
  padding: 0 125px;

  & .menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  & a {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #A8AEBF;
    text-decoration: none;
  }
}

.tablets {

  & a {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #A8AEBF;
    text-decoration: none;
    margin-right: 48px;
  }
}

.suggest {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}
