.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 103px;
    padding-bottom: 56px;
    padding-left: 125px;
    padding-right: 125px;
}

.button {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    box-shadow: none;
    width: 163px;
    height: 56px;
    background: #7B6EF6;
    border-radius: 12px;
}

.main_header {
    & h1 {
        font-weight: 600;
        font-size: 64px;
        line-height: 80px;
        letter-spacing: -0.02em;
        color: #EBEEF5;
        margin-bottom: 16px;
        pointer-events: none;
        user-select: none;
    }

    & span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8E95A9;
        pointer-events: none;
        user-select: none;
    }

}
@keyframes fadeIn {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}
.loading_header {
    text-align: center;
    color: white;
    animation: fadeIn 2s infinite;
}
.category_main {
    margin-top: 24px;
    margin-bottom: 24px;
}

.category {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #767E94;
}

.num_category {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #767E94;
}

.footer_main {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 64px;
}

.footer {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #767E94;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content {
    max-width: 1200px;
}

.main_footer {
     display: flex;
     flex-direction: column;
}

@media only screen and (min-width: 375px) and (max-width: 730px)  { 
    .list {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .footer { 
        font-size: 16px;
    }

    .main_header {
        & h1 {
            font-size: 48px;
        }
    }
}
