.container {
  background: #121829;
  width: 100%;
  padding-top: 160px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-image: url(../../assets/styles/images/Background.png);
  height: 1800px;
}
.content {
  max-width: 1440px;
}

.title_wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.title_container {
  width: 1202px;
}

.content_head {
  display: flex;
  flex-direction: column;
}

.label_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
  margin-bottom: 70px;
}
.label_name {
  position: absolute;
  width: 108px;
  height: 40px;
  bottom: 67%;
  font-family: inherit;

  // font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  letter-spacing: -0.02em;

  color: #767e94;
}

.label_name > span {
  font-size: 20px;
}

.list {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  height: max-content;
}

.footer_container {
  display: flex;
  padding-top: 10px;
  text-align: center;
  justify-content: center;

  & > button {
    margin-top: 60px;
    cursor: pointer;
  }
}

.footer_text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #767e94;
  font-family: inherit;
}

.link_card {
  text-decoration: none;
}
