.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  gap: 8px;
  position: absolute;
  width: 167px;
  height: 58px;
  background: #7b6ef6;
  color: #ffffff;
  border-radius: 12px;
}
