.rate {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 2px;
  height: 32px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  color: #ffad49;

  & > img {
    width: 13.33px;
    height: 13.23px;
  }

  & span {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffad49;
    margin-left: 6px;
  }
}
