.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 13px;
  padding-left: 5px;
  padding-right: 6px;

  & > img {
    width: 13.33px;
    height: 13.23px;
  }

  & span {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 6px;
  }
}
