.detail_prop {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  & > span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins";
    color: #767e94;
  }

  & span:last-child {
    font-weight: 400;
    font-size: 20px;
    font-family: "Poppins";
    line-height: 32px;
    color: #c3c8d4;
  }
}
