.input_container {
    & input {
        display: none;
    }

    & label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #8E95A9;
        padding: 0 32px;
        border-radius: 8px;
        cursor: pointer;
        height: 40px;
      }
    
      & input:checked ~ label {
        background: #7B6EF6;
        color: #ebe9fe;
      }
}

.input {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 8px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 12px;
    height: 56px;
    width: max-content;
    margin-top: 72px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

