.input_wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 8px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  border-radius: 12px;
  height: 56px;
  width: max-content;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_container {
  & input {
    display: none;
  }

  & label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #ebe9fe;
    padding: 0 32px;
    border-radius: 8px;
    cursor: pointer;
    height: 40px;
  }

  & input:checked ~ label {
    background: #7b6ef6;
    color: #ebe9fe;
  }
}
