.container_menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 424px;
  height: 48px;
  padding-top: 20px;
}
.container_menu > a {
  text-decoration: none;
}
.link_mov {
  width: 90px;
  height: 24px;

  // font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  font-family: inherit;

  color: #a8aebf;
}

.link_show {
  width: 106px;
  height: 24px;
  // font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #a8aebf;
  font-family: inherit;
}

.link_suqq {
  width: 95px;
  height: 54px;
  // font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #a8aebf;
  font-family: inherit;
}

.text_up {
  width: 40px;
  height: 40px;
  padding: 4px;
}
