@import url(./_fonts.scss);

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

// h1,
// p,
// ul {
//   margin: 0;
// }

// ul {
//   padding: 0;
// }

// li {
//   list-style: none;
// }
