@import url(./_fonts.scss);

// body {
// }

// * {
//   margin: 0;
//   padding: 0;
// }

h1,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  background: #121829;
  backdrop-filter: blur(20px);
  background-image: url(./images/Background.png);
  background-size: cover;
}
