@import url(./_fonts.scss);

body {
    font-family: 'Poppins', sans-serif;
}
  
h1,
p,
ul {
 margin: 0;
}
  
ul {
 padding: 0;
}
  
li {
 list-style: none;
}

.container {
    background-color: #121829;
    background-image: url(../../assets/img/Background.png);
    // backdrop-filter: blur(20px);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 375px) and (max-width: 730px)  { 
    .container {
        align-items: unset;
    }
}