.form_login {
    width: 486px;
    margin-left: 126px;
}

.span_login {
    font-weight: 600;
    font-size: 64px;
    color: #C3C8D4;
    margin-bottom: 40px;
    user-select: none;
}

.button_login {
    width: 486px;
    height: 56px;
    background-color: #7B6EF6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #7B6EF6;
    border-radius: 12px;
}

.email {
    width: auto;
    border: 1px solid #323B54;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    background: rgba(0, 0, 0, 0.1);

    & .svg_mail {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 16px;
        pointer-events: none;
        user-select: none;
    }

    & .email_input {
        margin-right: 20px;
        background: none;
        border: none;
        color: #475069;
        font-size: 14px;
        outline: none;
        width: 400px;
        height: 30px;
    }
}

.pass {
    width: auto;
    border: 1px solid #323B54;
    border-radius: 12px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;

    & .svg_pass {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 16px;
        pointer-events: none;
        user-select: none;
    }

    & .pass_input {
        margin-right: 20px;
        background: none;
        border: none;
        color: #475069;
        font-size: 14px;
        outline: none;
        width: 400px;
        height: 30px;
    }
}

.dont_have {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    & span {
        margin-right: 5px;
    }
}