.details_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1570px;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
}

.container_img {
  width: 1200px;
  height: 480px;
  & > img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: linear-gradient(
      180deg,
      rgba(54, 44, 146, 0.4) 0%,
      rgba(18, 98, 151, 0.4) 100%
    );
  }
}

.title_svg {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 8px;
  position: absolute;
  width: 560px;
  height: 144px;
  left: 450px;
  top: 528px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 24px;
  background-image: url("../../assets/styles/icons/Frame 65.svg");
}

.detail_block {
  max-width: 480px;
  padding-top: 180px;
  margin-right: 55px;
  display: grid;
  grid-column: 1;
  grid-row: 2;
  align-self: end;
  justify-self: end;
}

.container_poster {
  width: 480px;
  height: 720px;
  display: grid;
  grid-column: 1;
  padding-top: 165px;
  margin-left: 74px;
  grid-row: 2;
  align-self: start;
  justify-self: start;
  & > img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.015em;
  color: #ebeef5;
  margin-bottom: 24px;
  font-family: "Poppins";
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #8e95a9;
  margin-bottom: 25px;
  height: max-content;
  font-family: "Poppins", sans-serif;
}

.prop_list {
  & > div:not(:last-child) {
    margin-bottom: 25px;
  }
}

.span_elem > [value] {
  color: red;
}

.color [value] {
  color: red;
}
